<!doctype html>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>



<body>
<title>BB's Smart Home</title>
<h1> Welcome to BB's Smart Home </h1>

<table>
    <tr>
        <td>Temperature</td>
        <td>{{ records.cur_temperature}}°C</td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>{{ records.cur_humidity}}%</td>
    </tr>
    <tr>
        <td>Last Recorded Time</td>
        <td>{{ records.timestamp_string }} GMT</td>
    </tr>
</table>


<div style="width: 900px; height: 400px; margin: 0 auto">
    
     <div id="container-humid" style="min-width: 310px; max-width: 400px; height: 300px; float:left; "> </div>

    <div id="container-temp" style="min-width: 310px; max-width: 400px; height: 300px; float: left; "></div>
        
    
</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>





<!--- Cur Temperature guage -->

<script type="text/javascript">


$(function () {

    var temperatureChart = null;
    var humidChart = null;


    
    var humid = {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Humid'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%',
                 endAngle: 120,
                startAngle: -120
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 0,
                outerRadius: '107%',
                 endAngle: 120,
                startAngle: -120,

            }, {
                
                endAngle: 120,
                startAngle: -120,

                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                 endAngle: 120,
                startAngle: -120,
                shape : 'arc'

            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: 100,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '%'
            },
            plotBands: [{
                from: -10,
                to: 10,
                color: '#33CCFF' // green
            }, {
                from: 10,
                to: 22,
                color: '#FFFF66' // yellow
            }, {
                from: 22,
                to: 32,
                color: '#FF9933' // red
            },
                       {
                from: 32,
                to: 45,
                color: '#CC3300' // red
            }
                       
                       ]
        },

        series: [{
            name: 'Temperature',
            data: [22],
            tooltip: {
                valueSuffix: ' C'
            }
        }]

    };
    
    
    var temperature = {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Temperature'
        },

        pane: {
            startAngle: -90,
            endAngle: 90,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%',
                 endAngle: 120,
                startAngle: -120
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 0,
                outerRadius: '107%',
                 endAngle: 120,
                startAngle: -120,

            }, {
                
                endAngle: 120,
                startAngle: -120,

                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%',
                 endAngle: 120,
                startAngle: -120,
                shape : 'arc'

            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: 45,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '°C'
            },
            plotBands: [{
                from: -10,
                to: 10,
                color: '#33CCFF' // green
            }, {
                from: 10,
                to: 22,
                color: '#FFFF66' // yellow
            }, {
                from: 22,
                to: 32,
                color: '#FF9933' // red
            },
                       {
                from: 32,
                to: 45,
                color: '#CC3300' // red
            }
                       
                       ]
        },

        series: [{
            name: 'Temperature',
            data: [34],
            tooltip: {
                valueSuffix: ' C'
            }
        }]

    };
      
    setInterval(function () {
        
                            
                    if( humidChart && temperatureChart ){

                            $.get( "http://bb-smart-home.herokuapp.com/get_current_stats", function( data ) {
                                    
                                    if(data){
                                            cur_stat_info = JSON.parse(data);
                                            var temperaturePoint = temperatureChart.series[0].points[0];
                                            var humidPoint = humidChart.series[0].points[0];
                                            temperaturePoint.update(Number(cur_stat_info.cur_temperature.toFixed(2));
                                            humidPoint.update(Number(cur_stat_info.cur_humidity.toFixed(2));

                                    }

                            });

                    }
                    

                }, 3000);
    
    
    $('#container-humid').highcharts(humid, function(chart){

        if (!chart.renderer.forExport) {
                   
                   humidChart = chart;
           }
    } );
   
    $('#container-temp').highcharts(temperature, function(chart){

        if (!chart.renderer.forExport) {
                   
                   temperatureChart = chart;
           }
    });
});
</script>


<!---    -->




<!-- Temperature Graph -->
<script type="text/javascript">
$.get( "/data.csv", function( data ) {
  if(data)
    tempinfo = JSON.parse(data);
console.log(tempinfo);
temperature = [];
timestamp = [];
humidity = [];
for(i=0; i<tempinfo.length;i++){
    if(tempinfo[i].temperature){
     temperature.push(parseFloat(tempinfo[i].temperature.toFixed(7)));
     dateInfo = new Date(tempinfo[i].timestamp * 1000);
     timestamp.push(dateInfo.getHours() + ':' + dateInfo.getMinutes());
    
    humidity.push(parseFloat(tempinfo[i].humidity.toFixed(2)));
    }
       
}

$(function () {
    
    $('#container').highcharts({
        title: {
            text: 'Last 24 hrs Temperature',
            x: -20 //center
        },
        subtitle: {
            text: '@ BB\'s SmartHome',
            x: -20
        },
        xAxis: {
            categories: timestamp
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Temparature (°C)', 
            data: temperature
        },{ name: 'Humidity (%)',
            data: humidity }]
    });
});
 });

</script>


</body>