<!doctype html>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>



<body>
<title>BB's Smart Home</title>
<h1> Welcome to BB's Smart Home </h1>

<table>
    <tr>
        <td>Temperature</td>
        <td>{{ records.cur_temperature}}°C</td>
    </tr>
    <tr>
        <td>Humidity</td>
        <td>{{ records.cur_humidity}}%</td>
    </tr>
    <tr>
        <td>Last Recorded Time</td>
        <td>{{ records.timestamp_string }} GMT</td>
    </tr>
</table>


<div style="width: 600px; height: 200px; margin: 0 auto">
    <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
    <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<!-- Current Temperature Guage -->
<script type="text/javascript">

$(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    $('#container-speed').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Speed'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">km/h</span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    }));

    // The RPM gauge
    $('#container-rpm').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 5,
            title: {
                text: 'RPM'
            }
        },

        series: [{
            name: 'RPM',
            data: [1],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">* 1000 / min</span></div>'
            },
            tooltip: {
                valueSuffix: ' revolutions/min'
            }
        }]

    }));

    // Bring life to the dials
    setInterval(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.round((Math.random() - 0.5) * 100);
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = Math.random() - 0.5;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);


});

</script>
<!--  -->



<!-- Temperature Graph -->
<script type="text/javascript">
$.get( "/data.csv", function( data ) {
  if(data)
    tempinfo = JSON.parse(data);
console.log(tempinfo);
temperature = [];
timestamp = [];
humidity = [];
for(i=0; i<tempinfo.length;i++){
    if(tempinfo[i].temperature){
     temperature.push(parseFloat(tempinfo[i].temperature.toFixed(7)));
     dateInfo = new Date(tempinfo[i].timestamp * 1000);
     timestamp.push(dateInfo.getHours() + ':' + dateInfo.getMinutes());
    
    humidity.push(parseFloat(tempinfo[i].humidity.toFixed(2)));
    }
       
}

            console.log(temperature);
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Last 24 hrs Temperature',
            x: -20 //center
        },
        subtitle: {
            text: '@ BB\'s SmartHome',
            x: -20
        },
        xAxis: {
            categories: timestamp
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Temparature (°C)', 
            data: temperature
        },{ name: 'Humidity (%)',
            data: humidity }]
    });
});
 });

</script>


</body>